---
layout: default
title: 关于 me
---

<div class="container">
  <div class="row-fluid main">
    <div class="content posts col-md-9">
      <h1>关于 me</h1>
      <hr>
      nlper <br><br>

      Email: intzero@outlook.com <br><br>

      所使用的主题：<a href="https://github.com/zgd716/zero-theme" target="_blank">zero-theme</a>
      <br><br>
      {% include {{ site.baseurl }}comments.html %}
    </div>

    <div class="col-md-3 main-sidebar">
      {% include {{ site.baseurl }}sidebar_main.html %}
    </div>
  </div>
</div>
