---
layout: default
title: 关于 me
---

<div class="container">
  <div class="row-fluid main">
    <div class="content posts col-md-9">
      <h1>关于 me</h1>
      <hr>
      wechat:zhangguodong207985 <br><br>

      phone:17828159535<br><br>

      Email: zhangguodong_12@126.com <br><br>

      <!-- resume:<a href='https://pan.baidu.com/s/1uaIEOyMylTqbAYppA0WAAA '>提取码：lo8z</a> -->

      
      {% include {{ site.baseurl }}comments.html %}
    </div>

    <div class="col-md-3 main-sidebar">
      {% include {{ site.baseurl }}sidebar_main.html %}
    </div>
  </div>
</div>
